<div class="container py=5">
  <header class = "text-center">

    <!-- Header title -->
    <h1>{{title}}</h1>
  </header>

  <!-- //Products Lists Table Division -->
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <!-- PANEL FOR PRODUCT LISTS -->
    <ngb-panel>
      <ng-template ngbPanelTitle>
      <!-- Label for 'Product Lists' Table -->
        <h2>Products</h2>
      </ng-template>

      <!-- REFER TO COMPONENT - PRODUCTS -->
      <ng-template ngbPanelContent>
        <app-products></app-products>
      </ng-template>
    </ngb-panel>

    <!-- PANEL FOR INVENTORY LIST -->
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <!-- Label for 'Inventory Lists' Table -->
        <h2>Inventory</h2>
      </ng-template>

      <!-- REFER TO COMPONENT-INVENTORY -->
      <ng-template ngbPanelContent>
       <app-inventory></app-inventory>
      </ng-template>
    </ngb-panel>


    <!-- FOR P.O.S -->
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h2>Sales Transaction History</h2>
      </ng-template>

      <!-- REFER TO POS-COMPONENT -->
      <ng-template ngbPanelContent>
       <app-pos></app-pos>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
