    <!-- INVENTORY PANEL LISTS -->
        <div class="container">
          <div class="h-75">

            <!-- INVENTORY LISTING TABLE -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Total Stock-In</th>
                  <th scope="col">Total Stock-Out</th>
                  <th scope="col">Stock Available</th>
                </tr>
              </thead>

              <!-- FOR INVENTORY ROWS -->
              <tbody>
                <tr *ngFor="let inventory of inventories" (click)="selectInventory(inventory)">
                  <td>{{inventory.productId}}</td>
                  <td>{{inventory.productName}}</td>
                  <td>{{inventory.totalStockIn}}</td>
                  <td>{{inventory.totalStockOut}}</td>
                  <td>{{inventory.totalStockRem}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="h-25" *ngIf="selectedInventory">
            <div class="card w-100">
              <div class="card-header">
                <h2>Inventory Details</h2>
                <div class="d-flex justify-content-between">
                  <div>
                    <div>
                      <span>Product ID: </span>
                      <span class="fw-bold">{{ selectedInventory.productId }}</span>
                    </div>
                    <div>
                      <span>Product Name: </span>
                      <span class="fw-bold">{{ selectedInventory.productName }}</span>
                    </div>
                  </div>
                  <div>
                    <button
                        type = "button"
                        class= "btn btn-md btn-primary"
                        (click)="newInventory()">
                        New
                      </button>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <!-- INVENTORY TABLE DETAILS -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Stock In</th>
                      <th scope="col">Stock Out</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let inventory of selectedInventory.inventories">
                      <!-- INPUT FOR DATE (DISABLED)  -->
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="inventory.createdAt"
                          placeholder="Date"
                          aria-label="Inventory Date"
                          disabled
                        />
                      </td>
                      <!-- INPUT FOR STOCK In -->
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="inventory.stockIn"
                          placeholder="Stock in"
                          aria-label="Stock in"
                          [disabled]="!inventory.stockIn && inventory.stockOut"
                        />
                      </td>
                      <!-- INPUT FOR STOCK Out -->
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="inventory.stockOut"
                          placeholder="Stock out"
                          aria-label="Stock out"
                          disabled
                        />
                      </td>
                      <td>
                        <button class="btn btn-sm btn-success"
                          (click)="inventorySave(inventory)"
                          [disabled]="!inventory.stockOut && !inventory.stockIn">
                          <span>&#9745;</span>
                        </button>
                        <button class="btn btn-sm btn-danger"
                          (click)="inventoryRemove(inventory)"> &times;
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
